<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ce.dao.DmDAO">
	<resultMap type="dmDto" id="dmDto">
		<result property="dmIdx" column="DM_INDEX"/>
		<result property="dmSenderId" column="DM_SENDER_ID"/>
		<result property="dmSenderNickname" column="DM_SENDER_NICKNAME"/>
		<result property="dmSendDate" column="DM_SENDDATE"/>
		<result property="dmReceiverId" column="DM_RECEIVER_ID"/>
		<result property="dmReceiverNickname" column="DM_RECEIVER_NICKNAME"/>
		<result property="dmReceiveDate" column="DM_RECEIVEDATE"/>
		<result property="dmTitle" column="DM_TITLE"/>
		<result property="dmContent" column="DM_CONTENT"/>
	</resultMap>
	
	<select id="list" parameterType="dmDto" resultMap="dmDto">
		SELECT *
		FROM DM
		WHERE DM_RECEIVER_ID = #{dmReceiverId}
		ORDER BY DM_INDEX DESC
		LIMIT #{pageHelper.listFirst}, #{pageHelper.listLast}
	</select>
	<select id="content" parameterType="int" resultMap="dmDto">
		SELECT *
		FROM DM
		WHERE DM_INDEX=#{dmIdx}
	</select>
	<update id="firstRead" parameterType="int">
		UPDATE DM
		SET DM_RECEIVEDATE=now()
		WHERE DM_INDEX=#{dmIdx}		
	</update>
	<insert id="write" parameterType="dmDto">
		INSERT 
		INTO DM (DM_INDEX,DM_SENDER_ID,DM_SENDER_NICKNAME,DM_SENDDATE,DM_RECEIVER_ID,DM_RECEIVER_NICKNAME,DM_RECEIVEDATE,DM_TITLE,DM_CONTENT)
		VALUES (0,#{dmSenderId},#{dmSenderNickname},NOW(),#{dmReceiverId},#{dmReceiverNickname},NOW(),#{dmTitle},#{dmContent})
	</insert>
	
	<select id="search" parameterType="dmDto" resultMap="dmDto">
		<!-- DYNAMIC SQL 필요-->
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE 
		FROM DM
		WHERE DM_INDEX=#{dmIdx}
	</delete>	
	<select id="getTotalRow" parameterType="string" resultType="int">
		SELECT COUNT(*) 
		FROM DM
		WHERE DM_RECEIVER_ID=#{receiverId}
	</select>
</mapper>
